{% load i18n %}

<html>
    <head></head>
    <body>
        <img src="%s" alt="OpenCap Logo" width="305" height="77"/>
        <hr>
        </br>
        </br>
        </br>
        <h2>{% translate 'reset_password_email_greeting' %}</h2>
        <p>{% translate 'reset_password_email_your_username' %} <b>%s</b></p>
        </br>
        </br>
        <p>{% translate 'reset_password_email_click_button' %} </p>
        </br>
        </br>
        <a href='%s' style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none; border-radius: 5px; background-color: #1F7F4C; border-top: 8px solid #1F7F4C; border-bottom: 8px solid #1F7F4C; border-right: 12px solid #1F7F4C; border-left: 12px solid #1F7F4C; display: inline-block;">{% translate 'reset_password_email_reset_button_text' %}</a>
        </br>
        </br>
        <p>{% translate 'reset_password_email_token' %} </p>
        <a href='%s'>%s<a>
        <p>{% translate 'reset_password_email_ignore' %} </p>
        </br>
        </br>
        <p>{% translate 'reset_password_email_team' %}</p>
    </body>
</html>