<html>
    <head></head>
    <body>
        <img src="%s" alt="OpenCap Logo" width="305" height="77"/>
        <hr>
        </br>
        </br>
        </br>
        <h2>Hi,</h2>
        <p>Your username is: <b>%s</b></p>
        </br>
        </br>
        <p>To reset your password click on the following button:</p>
        </br>
        </br>
        <a href='%s' style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none; border-radius: 5px; background-color: #1F7F4C; border-top: 8px solid #1F7F4C; border-bottom: 8px solid #1F7F4C; border-right: 12px solid #1F7F4C; border-left: 12px solid #1F7F4C; display: inline-block;">Reset my Password</a>
        </br>
        </br>
        <p> If the button if not working, click on the following token: </p>
        <a href='%s'>%s<a>
        <p>If you did not request to retrieve your username or change your password, you can ignore this email.</p>
        </br>
        </br>
        <p>OpenCap Team.</p>
    </body>
</html>