<html>
    <head></head>
    <body>
        <img src="%s" alt="OpenCap Logo" width="305" height="77"/>
        <hr>
        </br>
        </br>
        </br>
        <h2>Hi,</h2>
        <p>Your verification code is: </p>
        </br>
        </br>
        <b>
            %s
        </b>
        </br>
        </br>
        <p>Please copy-paste it to the OpenCap webapp.</p>
        </br>
        </br>
        <p>If you did not try to log in into OpenCap, you can ignore this email.</p>
        </br>
        </br>
        <p>OpenCap Team.</p>
    </body>
</html>